# clangd configuration.
# change CompilationDatabase to whichever build folder with compile_commands.json you want to use

CompileFlags:
  CompilationDatabase: build*/

  Remove:
    - -Werror
    - -pedantic
    - -fno-reorder-functions
    - -fno-defer-pop
    - --param=min-pagesize=*
    - -mfp16-format=*
    - -fno-printf-return-value
    - -mlongcalls
    - -fstrict-volatile-bitfields
    # Add these to handle Xtensa/ESP32 specific flags
    - -mtext-section-literals
    - -mlong-calls
    - -fno-builtin
    - -g*
    - -O*
    - -ffunction-sections
    - -fdata-sections
    - -march=*
    - -mtune=*
    - -mabi=*
    - -mcmodel=*

Diagnostics:
  # Zephyr headers pull in transitively-used symbols by design.
  UnusedIncludes: None
  MissingIncludes: None

Index:
  Background: Build
  StandardLibrary: true
